<ion-header>
  <ion-toolbar>
    <ion-title>Recuperar Contraseña</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form [formGroup]="form" (ngSubmit)="resetPassword()">
    <div class="field-group">
      <ion-item class="field-item">
        <ion-label position="floating">Correo electrónico</ion-label>
        <ion-input
        type="email"
        formControlName="email"
        inputmode="email"
        autocapitalize="off"
        autocomplete="email"
        (ionBlur)="normalizeEmail()"
        required></ion-input>
        <div *ngIf="form.get('email').touched && form.get('email').invalid"
             class="error-text">
          El correo es obligatorio
        </div>
      </ion-item>
    </div>

    <ion-button expand="block" type="submit" [disabled]="form.invalid">
      Enviar enlace de recuperación
    </ion-button>

    <ion-text color="success" *ngIf="message">
      {{ message }}
    </ion-text>
    <ion-text color="danger" *ngIf="error">
      {{ error }}
    </ion-text>

    @if (message) {
      <ion-item (click)="goLogin()" class="button-back">
        <ion-label>Regresar</ion-label>
      </ion-item>
    }
  </form>
</ion-content>
